@model ASP_NET_CORE_MANY_TO_MANY_CRUD.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(e => e.BookId)
            @*<input type="hidden" asp-for="BookId" />*@
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookType" class="control-label"></label>
                <input asp-for="BookType" class="form-control" />
                <span asp-validation-for="BookType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info text-white">Back to List</a>
            </div>
        </form>
    </div>
</div>



